/* color: #ff0266;    red
    color: #03dac6; blue*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ROBOTO", sans-serif;
    color: white;
    overflow: hidden;
}

#particles-js {
    background-color: #1e1f26;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    padding: 0 2em;
}

.nav-content-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
    cursor: alias;
}

.nav-content-name:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;

}

.m {
    font-size: 2vw;
    letter-spacing: 0.9em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

.m:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
}

.navbar-btn {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    background: white;
}

.bnavbar-toggle {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: fixed;
    z-index: 20;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.bnavbar-toggle .line {
    fill: none;
    transition-delay: 400ms, 0;
    transition-property: stroke, stroke-dasharray, stroke-dashoffset;
    transition-timing-function: ease;
    transition-duration: 400ms;
    stroke: #ff0266;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.bnavbar-toggle .line.top {
    stroke-dasharray: 40 139;
    transform: translateY(3px);
}

.bnavbar-toggle .line.bottom {
    stroke-dasharray: 20 180;
    stroke-dashoffset: -20px;
    transform: translateY(-3px);
}

.bnavbar-toggle.active {
    transform: rotate(45deg);
}

.bnavbar-toggle.active .line {
    stroke: #FFFFFF;
}

.bnavbar-toggle.active .line.top {
    stroke-dashoffset: -98px;
}

.bnavbar-toggle.active .line.bottom {
    stroke-dashoffset: -138px;
}

.bnavbar-toggle:not(.active):hover .line.bottom {
    stroke-dasharray: 40 180;
    stroke-dashoffset: 0px;
}

.bnavbar {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.bnavbar ul {
    width: 100%;
    max-width: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bnavbar ul li {
    opacity: 0;
}

.bnavbar ul li a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 20px 0;
    font-weight: bold;
    /*   letter-spacing: 2px; */
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease 500ms;
    position: relative;
    will-change: transform;
    font-size: 25px;
    height: 37px;
    line-height: 27px;
}

.bnavbar ul li a:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    opacity: 0;
    transition: opacity ease 500ms;
}

.bnavbar ul li a:hover {
    /*   letter-spacing: 3px; */
    font-size: 27px;
    /*  letter-spacing: normal; */
}

.bnavbar ul li a:hover:before {
    opacity: 0.2;
}

#bg-circle {
    transform: scale(0);
    width: 80px;
    height: 80px;
    background: #4E6EE2;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 1;
}